.archive-view {
	background-color: #eee;
	
	.post {
		position: relative;
		background: white;
	}
	
	.post__content {
		padding: 2em 2em 3em;
	}
	
	@media screen and (min-width: $query__medium) {
		&.has-sidebar {
			.site-content {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			
			.content-area {
				width: $size__ratio-large;
			}
			
			.widget-area {
				width: $size__ratio-small;
			}
			
		}
	}
}

.index-image {
	img {
		display: block;
		margin: 0 auto;
	}
	
	a {
		&:focus > img,
		&:hover > img {
			opacity: .8;
		}
	}
}

.continue-reading {
	position: absolute;
	right: 0;
	bottom: 0;
	font-family: $font__sans;
	
	a {
		display: block;
		padding: .5em 1em;
		font-size: 90%;
		text-decoration: none;
		background: hsl(0, 0%, 85%);
		
		&:focus,
		&:hover {
			color: white;
			background: $color__interactive;
		}
	}
	
}
