/*
.site-header {
	position: relative;
	padding: 1em;
	font-family: $font__sans;
	color: #fff;
	background-color: $color__skin;
	
	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	min-height: 65px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 900;
	line-height: 1em;
	
	a {
		color: white;
		text-decoration: none;
		
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
}
*/