a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.page-content,
.entry-content,
.entry-summary,
.comment-content {
	
	a {
		text-decoration: none;
		border-bottom: 3px solid $color__interactive;
		
		&:focus,
		&:hover {
			color: $color__interactive;
		}
	}
}