.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after {
	@include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-content:after {
	@include clearfix-after;
}